@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@400;500;600;700;800&display=swap');

*{
  font-family: 'Poppins', sans-serif;
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  scroll-behavior: 61.0;
}

header {
  position: fixed;
  width: 100%;
  padding: 10px 150px;
  display: flex;
  align-items: center;
  flex-wrap: nowrap;
  justify-content: space-between;  
  background-color: rgb(252, 252, 252);
  z-index: 999;

}
.logo {
  text-decoration: none;
  text-transform: uppercase;
  color: rgb(57, 219, 165);
  font-weight: 700;
  font-size: 1.8em;
}
.navigation a {
  color: rgb(57, 219, 165);
  text-decoration: none;
  font-weight: 500;
  font-size: 1.1em;
  padding-left: 30px;
  
}
.navigation a:hover{
  color: rgb(75, 141, 119);
}
section {
  padding: 100px 150px;
}
.main {
  width: 100%;
  min-height: 100vh;
  background: url(/images/background.jpg) no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
  display: flex;
  align-items: center;
  line-height: 55px;
}
.main h2 {
  font-size: 1.4em;
  color: white;
  font-weight: 500;
}
.main h2 span {
  margin-top: 15px;
  display: inline-block;
  font-size: 1.9em;
  font-weight: 600;
  color: rgb(75, 141, 119);
}
.main h3 {
  color: white;
  font-weight: 600;
  font-size: 1.3em;
}
.main-btn {
  text-decoration: none;
  color: white;
  font-size: 1.1em;
  background-color: rgb(75, 141, 119);
  padding: 0.19em 1.7em;
  border-radius: 8px;
  letter-spacing: 1px;
  font-weight: 600;
  display: inline-block;
  margin: 20px 0;
  transition: 0.15s ease;
}
.main-btn:hover {
  background-color: rgb(35, 90, 72);
  transform: scale(1.05);
}
.social-icons a {
  color: white;
  background-size: 50px;
  font-size: 1.7em;
  padding-right: 20px;
}
.title {
  display: flex;
  justify-content: center;
  color: rgb(57, 219, 165);
  font-weight: 700;
  font-size: 1.8em;
  margin-bottom: 40px;
}
.projects {
  background-color: rgb(27, 27, 27);
  width: 100%;
  min-height: 100vh;
}
.content {
  display: flex;
  justify-content: center;
  flex-flow: row wrap;
}
.project-card {
  padding: 35px;
  background-color: white;
  border-radius: 7px;
  margin-right: 30px;
  width: 18.75em;
  transition: 0.2s ease;
  border: 2px solid rgb(110, 110, 110);

}
.project-card:hover {
  transform: scale(1.1);

}
.icon-card {
  margin-bottom: 40px;
  margin-top: 20px;
  text-align: center;
}
.title-card {
  font-size: 1.1em;
  color: gray;
  margin-bottom: 20px;
}
.info {
  font-weight: 700;
  font-size: 0.9em;
  display: flex;
  justify-content: space-between;

}
.info a {
  color: rgb(57, 219, 165)
  
}
.contact {
  min-height: 75vh;
}
.contact-card {
  box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
  padding: 30px;
  margin-right: 30px;
  width: 18.75em;
  transition: 0.2s ease;
  border-radius: 7px;
}
.contact-card:hover {
  transform: scale(1.1);
}
.contact-icon {
  font-size: 4em;
  color: rgb(57, 219, 165);
  text-align: center;
}
.contact-type {
  text-align: center;
  font-weight: 600;
  font-size: 1.1em;
  margin-bottom: 15px;
}
.contact-info {
  text-align: center;
  font-size: 1.3em;
}
footer {
  background-color: rgb(27, 27, 27);
  display: flex;
  align-items: center;
  justify-content: space-between;
  min-height: 10vh;
  padding: 0 20px;
}
.copyright {
  color: white;
  font-weight: 600;
}
.copyright span {
  color: rgb(57, 219, 165);
}
@media (max-width:1023px){
  header {
    padding: 12px 20px;
  }
  .navigation a {
    padding-left: 10px;
  }
  .title {
    font-size: 1.1em;
  }
  section {
    padding: 20px;
  }
  .projects {
    min-height: 80vh;
  }
  .main h2 {
    font-size: 1em;
  }
  .main h3 {
    font-size: 0.9em;
  }
  .main-btn {
    font-size: 0.9em;
    padding: 0.1em 1em;
  }
  .social-icons {
    padding-right: 30px;
    margin: 0;
    font-size: 1em;
  }
  .content {
    flex-direction: column;
    align-items: center;
  }
  .project-card,
  .contact-card {
    margin-bottom: 20px;
    padding: 20px;
    width: 15em;
    margin-right: 0;
  }
  .icon-card  img {
    width: 10em;

  }
  .title-card {
    font-size: 1em;
  }
  .info {
    font-size: 0.7em;
  }
  .contact-icon {
    font-size: 3em;
  }
  .contact-type {
    font-size: 1em;
  }
  .contact-info {
    font-size: 1.08em;
  }
  footer {
    padding: 0 5px;
  }
  .copyright {
    font-size: 0.7em;
  }
  footer .social-icons {
    font-size: 0.7em;
    padding: 0;
  }
}
@media (min-width:800px){

  .content {
    flex-direction: row;
  }
  .project-card,
  .contact-card {
    margin-right: 20px;
    padding: 20px;
    width: 15em;
  }
  .contact-info {
    font-size: 1.1em;
  }
  footer {
    padding: 0 20px;
  }
  .copyright {
    font-size: 1.1em;
  }
  .copyright{
    font-size: 1em;
  }
  footer .social-icons {
    font-size: 1em;
    padding: 0;
  }
}